body {
  font-family: "Dosis", sans-serif;
  text-align: center;
}

.challenge {
  width: 80vw;
  margin: 5px auto;
  border-style: solid;
  border-width: 3px;
  border-color: steelblue;
  border-radius: 5px;
}

.challengeHeader {
  border-bottom: 3px dashed steelblue;
}

.challengeBody {
  border-bottom: 3px dashed steelblue;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: center;
}

.challengeFooter {
  flex-wrap: wrap;
}

.rpsChoice {
  width: 150px;
  margin: 0px auto;
}

.rpsChoice:hover {
  filter: drop-shadow(0px 0px 10px steelblue);
}

.challengeResults {
  height: 4em;
  line-height: 4em;
  font-family: inherit;
  font-size: 2em;
  border: 2px dashed maroon;
  width: 90%;
  margin: 0.8em auto;
}
.catBox {
  margin: 5px 10px;
  height: 150px;
  object-fit: cover;
}

.challengeResults > p {
  margin: 0;
  overflow: scroll;
  height: inherit;
}

.btn {
  font-family: inherit;
  margin: 2px 0.5em;
  font-size: 1em;
  background-image: none;
  border-radius: 1em;
  border: none;
  padding: 0.5em 1.4em;
  width: 10em;
  max-width: 80%;
}

.btn-success {
  background-color: lightseagreen;
}

.btn-negative {
  background-color: tomato;
}
